{% extends 'queenadmin/index.html' %}

{% block container-content-right %}

    <h2 class="page-header">app</h2>
    <div>

        {% for app_name,app_table in site.enabled_admin.items %}
        <table class="table table-striped">
            <thead>
                <tr>{{ app_name }}</tr>
            </thead>

            <tbody>
            {% for model_name in app_table %}
                <tr>
                    <td><a href="{% url 'table_obj_list' app_name model_name %}">{{ model_name }}</a></td>
                    <td>ADD</td>
                    <td>CHANGE</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    </div>


{% endblock %}